//

@import 'partials/typography';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
  }

// HEADER

.header {
    height: 118px;
    justify-content: center;
    display: flex;

    .container-fluid {
    width: 100%;
    display: flex;
    justify-content: center;
    }

    .container {
      width: 1280px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .logo {
      display: flex;
      width: 80px;
      height: 80px;
      margin: 0;
      cursor: pointer;
    }

    .main-nav {
      display: flex;
      justify-content: center;

      ul {
        display: flex;
        padding: 0 14px;
        gap: 34px;
      }

      .nav__item {
        a {
          text-decoration: none;
          color: currentColor;
          font-size: 12px;
          font-weight: 700;
          text-transform: uppercase;
        }

        &.active {
          color: #0282F9;
          position: relative;
        }

        &.active::after {
          content: '';
          display: block;
          height: 5px;
          width: 100%;
          background-color: #0282F9;
          position: absolute;
          top: 63px;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
}

// MAIN

.main {
    justify-content: center;
    display: flex;

    .container {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .jumbo-container {
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: #1C1C1C;
        // min-height: 668px;
      }

      .jumbo-up-container {
        width: 100%;
        height: 400px;
        background-image: url("/img/jumbotron.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;

        .jumbo-up {
          position: relative;
          width: 100%;
          max-width: 1280px;
          

          a {
            text-decoration: none;
            color: white;
            font-size: 12px;
            font-weight: 700;
            text-transform: uppercase;
            background-color: #0282F9;
            padding: 10px 55px;
            position: absolute;
            white-space: nowrap;
            bottom: -16px;
            left: 0px;
          }
        }
      }

      .jumbo {
        min-height: 132px;
        width: 1280px;
        color: white;
      }

      .row {
        display: flex;
        flex-basis: 100%;
        gap: 1%;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 52px 14px;

        ul {
          display: contents;
        }
      }

      .card-wrapper {
        display: flex;
        flex-direction: column;
        width: calc(95% / 6);
        min-width: 150px;
        // height: 240px;
        padding: 8px;
        cursor: pointer;

      }

      .card-header {
        display: flex;
        position: relative;
        // width: 185px;
        // height: 185px;
        width: 100%;
        aspect-ratio: 1;

        img {
              display: flex;
              width: 100%;
              object-fit: cover;
              object-position: top;
        }
      }

        .card-header::after {
            content: '';
            background-color: #0282F9;
            opacity: 0.0;
            transition: opacity 0.2s ease-in-out;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: block;
            position: absolute;
        }

        .card-wrapper:hover .card-header::after {
            opacity: 0.5;
        }

      .card-footer {
        width: 100%;
        height: 55px;
        padding: 23px 0;
        text-transform: uppercase;
        font-size: 12px;
      }

      .overlay {
        //   background-color: #0282F9;
          position: absolute;
          width: 100%;
          height: 100%;
          display: none;
          color: white;
          font-size: 30px;
          text-align: center;
          cursor: pointer;

          p {
              z-index: 999;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              position: absolute; 
          }
      }

      .card-header:hover .overlay{
          display: block;
      }

      .row_2 {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        a {
          text-decoration: none;
          color: white;
          font-size: 12px;
          font-weight: 700;
          text-transform: uppercase;
          background-color: #0282F9;
          padding: 10px 55px
        }
      }

      .menu-container {
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: #0282F9;
      }

      .menu-wrapper {
        display: flex;
        justify-content: center;
        width: 1280px;
        height: 155px;
      }

      .menu {
          display: flex;
          width: 100%;
          justify-content: space-between;
          padding: 0 14px;
          gap: 74px;
          padding: 0 36px;

          .menu__item {
            display: flex;
            align-items: center;

            figure {
              display: flex;
              width: 55px;
              height: 55px;
              margin: 0;
              padding-right: 11px;
              cursor: pointer;
            }

            a {
            text-decoration: none;
            color: white;
            font-size: 12px;
            font-weight: 700;
            text-transform: uppercase;
            }
          }
      }
    }
  }



// FOOTER

.footer {
    justify-content: center;
    display: flex;

    .container {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-image: url("/img/footer-bg.jpg");
      background-repeat: no-repeat;
      background-size: 100%;

      .footer_up {
        width: 1280px;
        height: 370px;
        
        display: flex;

        .footer_up-left {
          width: 50%;
          display: flex;
          justify-content: flex-start;
          padding-top: 30px;
          gap: 25px;

          h2 {
            color: white;
            text-transform: uppercase;
          }

          .menu {
            padding: 0;
            .menu__item {
              

              a {
              text-decoration: none;
              color: #959595;
              font-size: 12px;
              font-weight: 700;
              
              }
            }
          }
        }

        .footer_up-right {
          width: 50%;
          background-image: url("/img/dc-logo-bg.png");
          background-position: center;
          background-repeat: no-repeat;
        }

        
      }
      .footer_down {
        width: 100%;
        height: 110px;
        display: flex;
        justify-content: center;
        background-color: #303030;

        .footer_down-wrapper {
          width: 1280px;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        .sign-up {

          a {
            text-decoration: none;
            color: white;
            font-size: 12px;
            font-weight: 700;
            text-transform: uppercase;
            border: 2px solid #0282F9;
            padding: 17px 15px
          }
        }

        .social-wrapper {
          display: flex;
          align-items: center;
          gap: 30px;
          color: #0282F9;
          text-transform: uppercase;

          ul {
            display: contents;

            a {
              display: contents;
            }
          }
        }

        .social-items {
          display: flex;
          gap: 19px;
        }
      }
    }
  }