body {
  font-family: "Greta Sans Condensed Bold", "Greta Sans Bold", Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.header {
  height: 118px;
  justify-content: center;
  display: flex;
}

.header .container-fluid {
  width: 100%;
  display: flex;
  justify-content: center;
}

.header .container {
  width: 1280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo {
  display: flex;
  width: 80px;
  height: 80px;
  margin: 0;
  cursor: pointer;
}

.header .main-nav {
  display: flex;
  justify-content: center;
}

.header .main-nav ul {
  display: flex;
  padding: 0 14px;
  gap: 34px;
}

.header .main-nav .nav__item a {
  text-decoration: none;
  color: currentColor;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}

.header .main-nav .nav__item.active {
  color: #0282F9;
  position: relative;
}

.header .main-nav .nav__item.active::after {
  content: "";
  display: block;
  height: 5px;
  width: 100%;
  background-color: #0282F9;
  position: absolute;
  top: 63px;
  left: 50%;
  transform: translateX(-50%);
}

.main {
  justify-content: center;
  display: flex;
}

.main .container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main .container .jumbo-container {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #1C1C1C;
}

.main .container .jumbo-up-container {
  width: 100%;
  height: 400px;
  background-image: url("/img/jumbotron.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}

.main .container .jumbo-up-container .jumbo-up {
  position: relative;
  width: 100%;
  max-width: 1280px;
}

.main .container .jumbo-up-container .jumbo-up a {
  text-decoration: none;
  color: white;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #0282F9;
  padding: 10px 55px;
  position: absolute;
  white-space: nowrap;
  bottom: -16px;
  left: 0px;
}

.main .container .jumbo {
  min-height: 132px;
  width: 1280px;
  color: white;
}

.main .container .row {
  display: flex;
  flex-basis: 100%;
  gap: 1%;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 52px 14px;
}

.main .container .row ul {
  display: contents;
}

.main .container .card-wrapper {
  display: flex;
  flex-direction: column;
  width: 15.8333333333%;
  min-width: 150px;
  padding: 8px;
  cursor: pointer;
}

.main .container .card-header {
  display: flex;
  position: relative;
  width: 100%;
  aspect-ratio: 1;
}

.main .container .card-header img {
  display: flex;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.main .container .card-header::after {
  content: "";
  background-color: #0282F9;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  position: absolute;
}

.main .container .card-wrapper:hover .card-header::after {
  opacity: 0.5;
}

.main .container .card-footer {
  width: 100%;
  height: 55px;
  padding: 23px 0;
  text-transform: uppercase;
  font-size: 12px;
}

.main .container .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  color: white;
  font-size: 30px;
  text-align: center;
  cursor: pointer;
}

.main .container .overlay p {
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.main .container .card-header:hover .overlay {
  display: block;
}

.main .container .row_2 {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.main .container .row_2 a {
  text-decoration: none;
  color: white;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #0282F9;
  padding: 10px 55px;
}

.main .container .menu-container {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #0282F9;
}

.main .container .menu-wrapper {
  display: flex;
  justify-content: center;
  width: 1280px;
  height: 155px;
}

.main .container .menu {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 14px;
  gap: 74px;
  padding: 0 36px;
}

.main .container .menu .menu__item {
  display: flex;
  align-items: center;
}

.main .container .menu .menu__item figure {
  display: flex;
  width: 55px;
  height: 55px;
  margin: 0;
  padding-right: 11px;
  cursor: pointer;
}

.main .container .menu .menu__item a {
  text-decoration: none;
  color: white;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}

.footer {
  justify-content: center;
  display: flex;
}

.footer .container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("/img/footer-bg.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.footer .container .footer_up {
  width: 1280px;
  height: 370px;
  display: flex;
}

.footer .container .footer_up .footer_up-left {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  padding-top: 30px;
  gap: 25px;
}

.footer .container .footer_up .footer_up-left h2 {
  color: white;
  text-transform: uppercase;
}

.footer .container .footer_up .footer_up-left .menu {
  padding: 0;
}

.footer .container .footer_up .footer_up-left .menu .menu__item a {
  text-decoration: none;
  color: #959595;
  font-size: 12px;
  font-weight: 700;
}

.footer .container .footer_up .footer_up-right {
  width: 50%;
  background-image: url("/img/dc-logo-bg.png");
  background-position: center;
  background-repeat: no-repeat;
}

.footer .container .footer_down {
  width: 100%;
  height: 110px;
  display: flex;
  justify-content: center;
  background-color: #303030;
}

.footer .container .footer_down .footer_down-wrapper {
  width: 1280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer .container .footer_down .sign-up a {
  text-decoration: none;
  color: white;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  border: 2px solid #0282F9;
  padding: 17px 15px;
}

.footer .container .footer_down .social-wrapper {
  display: flex;
  align-items: center;
  gap: 30px;
  color: #0282F9;
  text-transform: uppercase;
}

.footer .container .footer_down .social-wrapper ul {
  display: contents;
}

.footer .container .footer_down .social-wrapper ul a {
  display: contents;
}

.footer .container .footer_down .social-items {
  display: flex;
  gap: 19px;
}

